<div *ngIf="(notes$ | async) as notes">
  <div *ngFor="let note of notes">
    <div  *ngIf="note.isArchived" class="note"  [ngClass]="{ 'empty-note': note.title=='' || note.content=='' }" >
      <div >
        <span class="material-icons check-circle">check_circle</span>
        <div class="title">{{ note.title }}</div>
        <div class="text">{{ note.content }}</div>

        <div class="icons">
          <div class="tooltip">

            <span class="material-icons-outlined hover small-icon icon" (click)="UnArchiveNote(note.title)">archive</span>
            <span class="tooltip-text">Archive</span>
          </div>
          <div class="tooltip" (click)="toggleDropdownMenu()">
            <span class="material-icons-outlined hover small-icon icon">more_vert</span>
            <span class="tooltip-text">More</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showDropdownMenu" class="dropdown-menu">
  <ul>
    <li class="item"><a class="text"  href="#">Delete Note</a></li>
    <li class="item"><a class="text"  href="#">Add label</a></li>

  </ul>
</div>


  <!-- Check if notesCount is greater than 0 -->

<div *ngIf="(hasNotes() | async) === 0" class="box">
  <img class="archive-icon"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMjAuNTQgNS4yM2wtMS4zOS0xLjY4QzE4Ljg4IDMuMjEgMTguNDcgMyAxOCAzSDZjLS40NyAwLS44OC4yMS0xLjE2LjU1TDMuNDYgNS4yM0MzLjE3IDUuNTcgMyA2LjAyIDMgNi41VjE5YzAgMS4xLjkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNi41YzAtLjQ4LS4xNy0uOTMtLjQ2LTEuMjd6TTYuMjQgNWgxMS41MmwuODMgMUg1LjQybC44Mi0xek01IDE5VjhoMTR2MTFINXptMTEtNS41bC00IDQtNC00IDEuNDEtMS40MUwxMSAxMy42N1YxMGgydjMuNjdsMS41OS0xLjU5TDE2IDEzLjV6Ii8+Cjwvc3ZnPgo="
       alt="SVG Image Description">
  <div class="message">Your archived notes appear here</div>
</div>

