<div class="form-container">
    <form class="enter-note" (click)="toggleSecondForm()">
        <input class="note-text" type="text" placeholder="Take a note..."/>
        <div class="form-actions">
        </div>
    </form>
</div>

<div *ngIf="showSecondForm" class="form-container active-form">
    <form>
        <input type="text" class="note-title" placeholder="Title"/>
        <input class="note-text" type="text" placeholder="Take a note..."/>
        <div class="form-actions">
            <div class="icons">
                <div class="tooltip">
                    <span class="material-icons-outlined hover small-icon">archive</span>
                    <span class="tooltip-text">Archive</span>
                </div>
                <div class="tooltip">
                    <span class="material-icons-outlined hover small-icon">more_vert</span>
                    <span class="tooltip-text">More</span>
                </div>
            </div>
            <button class="close-btn" (click)="toggleSecondForm()">Close</button>
        </div>
    </form>
</div>
